.footer__logo-board{
    text-align: center;
}
.footer__item__item{
    display: flex;

}

.footer__nav{
    display: flex;
    justify-content: center;
    padding: 15px;
}
.nav__item{
    padding-left: 18px;
    padding-right: 18px;
    font-weight: 900;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
}
.nav__link{
    color: black;
}
.nav__link:hover{
    color: rgb(95, 169,242);
    transition: 0.4s;
}
.logo-board{
    flex-grow: 0.2;
}